/* Color Constants ======================================================================== */
    $ORANGE-COLOR: #F7921C;
 /* Colors ================================================================================ */
    $primary-color: #FFF;
    $secondary-color: $ORANGE-COLOR;
    $error-color: #EE3342;
    $success-color: #06B86B;
/* Fonts ======================================================================= */
    $primary-font: 'Primary', sans-serif;
    $headings-font: 'Headings', sans-serif;
    $icons-font: 'Fontello';
    $icon-class: '.icn';
/* Variables Widths ====================================================================== */
    $main-width: 960px;
    $max-width: 1920px;
    $min-width: 320px;
/* Transition Speed ====================================================================== */
    $fast-speed: .2s;
    $normal-speed: .3s;
    $slow-speed: .5s;
/* Indents =============================================================================== */
    $main-indent: 20px;
/* ======================================================================================= */